.thumb img,
.postthumb,
.mobile .Image {
	float: left;
	margin: 0 10px 10px 0;
}

.amazon {
	width: 80%;
	margin: 0 auto;
	padding:15px;
}

.amazon hr {
	border: 0;
	border-bottom: 1px dashed #000;
	margin:15px;
	background: #999;
}

.sns {
	margin-top : 10px;
	margin-bottom: 10px;
}

.video-wrap {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 100%;
	overflow: hidden;
}
 
.video-wrap iframe,
.video-wrap object,
.video-wrap embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.fb_iframe_widget &gt; span {
	vertical-align: baseline !important;
}

div.grid:after {
	content: &#39;.&#39;;
	display: block;
	height: 0;
	line-height: 0;
	clear: both;
	visibility: hidden;
}

div.grid {
	display: inline-block;
}

div.grid div.section {
	float: left;
	margin: 2px;
}

div.grid div.section a {
	display: block;
}

div.grid div.section img {
	max-width: 100%;
	max-height: 100%;
}

div.grid div.section div.title {
	text-align: center;
	font-size: 80%;
	margin-left: 0;
	margin-top: 2px;
}

blockquote {
	margin:20px;
	background-color:#ddd;
	padding:1em 1em 1em 3em;
	position:relative;
}

.mobile blockquote {
	background-color:#fff;
}

blockquote:before {
	content:&#39;\201C&#39;;
	font-size:600%;
	line-height:1em;
	font-family:&#39;ＭＳ Ｐゴシック&#39;,sans-serif;
	color:#999;
	position:absolute;
	left:0;
	top:0;
}

body#layout ul,
body#layout ul li {
	list-style:none;
}

body#layout #myGallery,
body#layout .featuredposts,
body#layout #navcontainer,
body#layout .menu-secondary-wrap,
body#layout .menu-secondary-container,
body#layout #skiplinks,
body#layout .feedtwitter,
body#layout .social-profiles-widget h3 {
	display:none;
}

body#layout #header-wrapper {
	margin-bottom:10px;
	min-height:50px;
}

body {
	background:#dcdcdc center top no-repeat fixed;
	color:#555;
	font-size: 13px;
	font-family:&#39;Lucida Grande&#39;,&#39;Hiragino Kaku Gothic ProN&#39;, Meiryo, sans-serif !important;
	margin:0;
	padding:0;
}

a:link,
a:visited {
	color:#EE5C11;
	text-decoration:underline;
	outline:none;
}

a:hover {
	color:#FF7C39;
	text-decoration:none;
	outline:none;
}

#body-wrapper {
	margin:0;
	padding:0;
}

#header-wrapper {
	width:1000px;
	margin:0 auto 0;
	height:60px;
	padding:17px 0;
	overflow:hidden;
	background:#dcdcdc;
}

.mobile #header-wrapper {
	width:100%;
	height:auto;
	padding:10px 0;
}

#header-inner {
	background-position:center;
	margin-left:auto;
	margin-right:auto;
}

#header {
	float:left;
	width:50%;
}

.mobile #header {
	width:100%;
}

h1.title {
	text-shadow:0 1px 0 #fff;
	margin:0 5px 0;
	padding:0 0 0 15px;
	font-weight:bold;
	font-size:32px;
}

h1.title a {
	color:#696966;
	text-decoration:none;
}

#header .description {
	color:#696966;
	text-shadow:0 1px 0 #fff;
	line-height:16px;
	font-size:16px;
	padding-top:0;
	padding-left:22px;
	margin-top:10px;
}

#header h2 {
	padding-left:5px;
	color:#696966;
	font:14px Arial,Helvetica,Sans-serif;
}

#header2 {
	float:right;
	width:50%;
	margin-right:0;
	padding-right:0;
	overflow:hidden;
}

.mobile #header2 {
	float:left;
	width:100%;
}

#header2 .widget {
	padding:0 15px 0 0;
	float:right;
}

#top-social-profiles {
	padding-top:12px;
	height:32px;
	text-align:right;
	float:right;
}

#top-social-profiles img {
	margin:0 6px 0 0;
}

#top-social-profiles img:hover {
	opacity:.8;
}

#outer-wrapper {
	width:1000px;
	margin:15px auto 0;
	padding:0;
	text-align:left;
	background:url(//3.bp.blogspot.com/-rGC1xVCrXnQ/UQwlkirUJtI/AAAAAAAABgU/nNVoXkOGXyE/s000/container-bg.png) left top repeat-x;
}

.mobile #outer-wrapper {
	width:100%;
	margin:0 auto 0;
}

#content-wrapper {
	padding:15px;
	background:#fff;
}

.mobile #content-wrapper {
	width:100%;
	padding:0;
	background:#dcdcdc;
}

#main-wrapper {
	width:665px;
	float:left;
	margin:0;
	padding:0;
	word-wrap:break-word;
	overflow:hidden;
}

.mobile #main-wrapper {
	width:100%;
}

#rsidebar-wrapper {
	width:290px;
	float:right;
	margin:0;
	padding:0;
	word-wrap:break-word;
	overflow:hidden;
}

h2.date-header {
	margin:1.5em 0 .5em;
	display:none;
}

.post {
	margin-bottom:15px;
	border-bottom:0;
}

.post-title, .mobile-index-title {
	color:#333;
	margin:0 0 10px 0;
	font-size:24px;
	line-height:24px;
	font-weight:normal;
	border-left:7px solid #333;
	border-bottom:1px solid #ccc;
	padding:.3em .4em;
	background:#dcdcdc;
}

.mobile-index-title {
	font-size:17px;
}

.mobile .post-title {
	background:#fff;
}

.post-title a,
.post-title a:visited {
	display:block;
	text-decoration:none;
	color:#333;
}

.post-title a:hover {
	color:#FA7029;
	text-decoration:none;
}

.post-body {
	margin:0;
	padding:0 10px 0 0;
	font-size:16px;
	line-height: 27px;
}

.mobile .post-body h4 {
	font-size:16px;
	border-left:7px solid #000;
	border-bottom:1px solid #000;
	padding:.6em .8em;
}

.post-footer {
	margin:5px 0;
}

.post-body img {
	padding:0;
	border:none;
	background:transparent;
	height:inherit;
}

.post-body p {
	margin-top:0;
	margin-bottom: 1.5em;
}

.postmeta-primary {
	color:#999;
	font-size:14px;
	line-height:20px;
	padding:0 0 5px 0;
}

.postmeta-primary span {
	background:url(//3.bp.blogspot.com/-WBS6gQnu_gw/UQwllDDRLwI/AAAAAAAABgc/cpDTUwDYoNw/s000/meta-separator.png) left center no-repeat;
	padding:3px 0 3px 10px;
}

.postmeta-primary span:first-child {
	background:none;
	padding-left:0;
}

.readmore {
	margin-bottom:5px;
	float:right;
	color:#FFF;
	background:#646464 url(//2.bp.blogspot.com/-k-Cl18ZNtNY/UQwllZlc3yI/AAAAAAAABgk/EeRtHnXUpLc/s000/readmore-bg.png) left top repeat-x;
	padding:8px 14px;
	display:inline-block;
	font-size:16px;
	line-height:12px;
	text-decoration:none;
	text-transform:uppercase;
	border-bottom:3px solid #919191;
}

.readmore:hover,
.a_readmore:hover .readmore {
	color:#FFF;
	background:#E0520A url(//2.bp.blogspot.com/-k-Cl18ZNtNY/UQwllZlc3yI/AAAAAAAABgk/EeRtHnXUpLc/s000/readmore-bg.png) left -126px repeat-x;
	text-decoration:none;
	border-bottom:3px solid #FA7029;
}

.a_readmore,
.mobile-post-outer a {
	text-decoration: none !important;
	color: #555 !important;
}

.sidebar a {
	text-decoration:none;
	color:#555;
}

.sidebar a:hover {
	text-decoration:none;
	color:#FA7029;
}

.sidebar h2,
#footer-widgets h2,
h3.widgettitle {
	background:url(//4.bp.blogspot.com/-OkvMx_axc84/UQwllwUXwqI/AAAAAAAABgs/Nn3dJhEHZd8/s000/widgettitle-bg.png) left top repeat-x;
	margin:0 0 10px 0;
	padding:10px 0 12px 10px;
	color:#FFF;
	font-size:16px;
	text-transform:uppercase;
}

.sidebar ul,
#footer-widgets .widget ul {
	list-style:none;
	margin:0;
	padding:0;
}

.sidebar ul li,
#footer-widgets .widget ul li {
	padding:0 0 9px 0;
	margin:0 0 8px 0;
}

.sidebar .widget {
	margin:0 0 15px 0;
	font-size:16px;
}

.main .widget {
	margin:0 0 5px;
	padding:0 0 2px;
}

.main .Blog {
	border-bottom-width:0;
}

.widget-container {
	list-style:none;
	margin:0 0 15px 0;
	padding:0;
	font-size:16px;
}

#copyrights {
	color:#fff;
	background:#4A4A4A;
	text-align:center;
	padding:20px 0;
	text-shadow:0 1px 0 #000;
}

#copyrights a {
	color:#fff;
}

#copyrights a:hover {
	color:#FFF;
	text-decoration:none;
}

#footer-widgets {
	padding:20px 10px 0 10px;
}

.mobile #footer-widgets {
	width:100%;
	padding:0;
}

.footer-widget-box {
	width:230px;
	float:left;
	margin-right:20px;
}

.footer-widget-box-last {
	margin-right:0;
}

.mobile .footer-widget-box {
	width:100%;
}

#footer-widgets .widget-container a {
	text-decoration:none;
	color:#555;
}

#footer-widgets .widget-container a:hover {
	text-decoration:none;
	color:#FA7029;
}

.footersec .widget{
	margin-bottom:20px;
}

#search {
	background:#fff url(//1.bp.blogspot.com/-Hryv3GgWtj0/UQwlmC2chcI/AAAAAAAABg0/oWMOWu8kyjU/s000/search.png) 99% 50% no-repeat;
	padding:6px 24px 6px 6px;
}

#search #s {
	color:#979797;
	background-color:#fff;
	border:0;
	width:220px;
	outline:none;
}

.mobile #search #s {
	width:80px;
}

#topsearch {
	float:right;
	margin-top:13px;
	padding-right:15px;
}

#comments {
	padding:10px;
}

.avatar-image-container {
	background:url(//4.bp.blogspot.com/-bCoC-1vI468/UQwlmX3jT2I/AAAAAAAABg8/_XRYTImUVbM/s000/comment-avatar.jpg);
	width:32px;
	height:32px;
	float:right;
	margin:5px 10px 5px 5px;
	border:1px solid #ddd;
}

.feed-links {
	clear:both;
	line-height:2.5em;
}

.profile-img {
	padding:4px;
}

.mobile #Profile1,
.mobile #Label2 {
	padding:0 20px 0 20px;
}

.mobile-post-outer {
	margin-top: 5px;
}

.mobile-date-outer {
	width:90%;
	margin: 0 auto;
	margin-top: 10px;
	padding:10px;
	background:#fff;
}

.clearfix:after {
	content:&quot;\0020&quot;;
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	overflow:hidden;
}

#container,
#header,
#main,
#footer,
.clearfix {
	display:block;
}

.clear {
	clear:both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom:16px;
	font-weight:normal;
	line-height:1;
}

h1 {
	font-size:40px;
}

h2 {
	font-size:30px;
}

h3 {
	font-size:24px;
}

h4 {
	font-size:20px;
	font-weight:bold;
	border-left:7px solid #ccc;
	border-bottom:1px solid #ccc;
	padding:.6em .8em;
}

h5 {
	font-size:18px;
	font-weight:bold;
}

h6 {
	font-size:16px;
}

h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img {
	margin:0;
}

table {
	margin-bottom:20px;
	width:100%;
}

th {
	font-weight:bold;
}

thead th {
	background:#c3d9ff;
}

th,
td,
caption {
	padding:4px 10px 4px 5px;
}

.mobile th,
td,
caption {
	padding:2px;
}

tr.even td {
	background:#e5ecf9;
}

tfoot {
	font-style:italic;
}

caption {
	background:#eee;
}

li ul,
li ol {
	margin:0;
}
	
ul,
ol {
	margin:0 20px 20px 0;
	padding-left:40px;
}
	
ul {
	list-style-type:disc;
}

dl dt {
	font-weight:bold;
}

dd {
	margin-left:20px;
}

pre {
	margin:20px 0;
	white-space:pre;
}

pre,
code,
tt {
	font:13px &#39;andale mono&#39;,&#39;lucida console&#39;,monospace;
	line-height:18px;
}

.menus,
.menus * {
	margin:0;
	padding:0;
	list-style:none;
	line-height:1.0;
}

.menus ul {
	position:absolute;
	top:-999em;
	width:100%;
}

.menus ul li {
	width:100%;
}

.menus li:hover {
	visibility:inherit;
}

.menus li {
	float:left;
	position:relative;
}

.menus a {
	display:block;
	position:relative;
}

.menus li:hover ul,
.menus li.sfHover ul {
	left:0;
	top:100%;
	z-index:99;
}

.menus li:hover li ul,
.menus li.sfHover li ul,
.menus li li:hover li ul,
.menus li li.sfHover li ul {
	top:-999em;
}

.menus li li:hover ul,
.menus li li.sfHover ul,
.menus li li li:hover ul,
.menus li li li.sfHover ul {
	left:100%;
	top:0;
}

.menu-secondary-container {
	position:relative;
	height:44px;
	z-index:300;
	background:url(//2.bp.blogspot.com/-VzIP0Ft_1xw/UQwlnhHDsVI/AAAAAAAABhU/-rGW_VWd4aw/s000/menu-secondary-bg.png) left top repeat-x;
}

.menu-secondary ul {
	min-width:160px;
}

.menu-secondary li a {
	color:#FFF;
	padding:16px 15px 15px 15px;
	text-decoration:none;
	text-transform:uppercase;
	font-size:16px;
}

.menu-secondary li a:hover,
.menu-secondary li a:active,
.menu-secondary li a:focus,
.menu-secondary li:hover \3e a,
.menu-secondary li.current-cat \3e a,
.menu-secondary li.current_page_item \3e a,
.menu-secondary li.current-menu-item \3e a {
	color:#FFF;
	background:url(//2.bp.blogspot.com/-VzIP0Ft_1xw/UQwlnhHDsVI/AAAAAAAABhU/-rGW_VWd4aw/s000/menu-secondary-bg.png) left -144px repeat-x;
	outline:0;
}

.menu-secondary li li a {
	color:#fff;
	background:#666;
	padding:10px 15px;
	text-transform:none;
	margin:0;
	font-weight:normal;
}

.menu-secondary li li a:hover,
.menu-secondary li li a:active,
.menu-secondary li li a:focus,
.menu-secondary li li:hover \3e a,
.menu-secondary li li.current-cat \3e a,
.menu-secondary li li.current_page_item \3e a,
.menu-secondary li li.current-menu-item \3e a {
	color:#fff;
	background:#FA7029;
	outline:0;
}

#blog-pager {
	 padding:6px;
	 font-size:14px;
	 background:#dcdcdc;
}

#crosscol-wrapper {
	display:none;
}

.PopularPosts .item-title {
	font-weight:bold;
}

.span-24 {
	width:1000px;
	margin:0;
}

.mobile div.span-24 {
	width:100%;
}
