#related-posts {
	float: left;
	width: auto;
}

#related-posts a {
	border-right: 1px dotted #eaeaea;
}

#related-posts a:hover{
	background: #f2f2f2;
}

#related-posts h2{
	margin-top: 10px;
	background: none;
	font: 18px Oswald;
	padding: 3px;color: #999999;
	text-transform: uppercase;
}

#related-posts .related_img {
	margin: 5px;
	width: 116px;
	height: 77px;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
}

#related-title {
	color: #222;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 12px;
	line-height: 16px;
	height: 70px;
	width: 100px;
}